
<div id="new_peep">
<form method="POST" action="/peeps">
  <label for="message">Enter peep</label>
  <input type="text" name="message">
  <input type="text" name="tag">
  <input type="submit" value="Post peep">
</form>
</div>