<div id='new_peep'>

<form method="POST" action="/peeps">
  <!-- <label for="message">Enter peep</label> -->
  <input type="text" name="message" size="72" placeholder="Enter a peep">
  <input type="text" name="tag" size="10" placeholder="Tag">
  <input type="submit" value="Post peep">
</form>

</div>

<div id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <div class="message peep-box">
      <p class ="msg-text"><%= peep.message %></p>
      <p class ="msg-time"><%= peep.post_time %></p>
    </div>
  <% end %>
</div>