<!DOCTYPE html>
<html>
  <head>
    <title>Tweetski</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>
    <%= yield %>
  </body>
</html>