

<!DOCTYPE html>
<html>
<head>
  <title>Tweeski</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="box clearfix">

    <% if current_user %>
    <span id='welcome-message'>
      Welcome, <%= current_user.email %>
      </span>
    <% end %>
    <form method='post' action='/sessions'>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>
  </header>

  <div class="clearfix box">

    <div class="left box">
    </div>

    <div class="main box">
      <%= yield %>
    </div>

    <div class="right box">
    </div>

  </div>
  <footer>

  </footer>
</body>
</html>