

<!DOCTYPE html>
<html>
<head>
  <title>Tweeski</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="box clearfix">
    <div class="header welcome">
      &nbsp;
      <% if current_user %>
        <span id='welcome-message'>
          Welcome, <%= current_user.email %>
        </span>
        <form method='post' action='/sessions'>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
      <% end %>

    </div>
    <div class="logo header">
      <a href="../peeps"><img src="/images/logo_tweetski.gif" width="140"></a>
    </div>
    <div class="nav header box">

      <nav>
        <a href="../sessions/new">Sign in</a>
        <a href="../users/new">Sign up</a>
        <a href="../peeps">Home</a>
      </nav>

    </div>
  </header>

  <div class="clearfix box">

    <div class="left box">
    </div>

    <div class="main box">
      <% if flash[:error] %>
        <div class="error"> <%= flash[:error] %> </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="right box">
    </div>

  </div>
  <footer>

  </footer>
</body>
</html>